<div class="register-wrapper">
    <span class="register-caption">Register</span>
    <form [formGroup]="userForm" class="register-form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name">
            <div *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched">
                <span *ngIf="userForm.get('name')?.errors?.['noSpaceAllowed']" class="alert alert-danger alert-box">
                    Spaces are not allowed
                </span>
                <span *ngIf="userForm.get('name')?.errors?.['required']" class="alert alert-danger alert-box">
                    Name is required
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" formControlName="email">
            <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
                <span *ngIf="userForm.get('email')?.errors?.['required']" class="alert alert-danger alert-box">
                    Email is required
                </span>
                <span *ngIf="userForm.get('email')?.errors?.['email']" class="alert alert-danger alert-box">
                    Email is not valid
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="pass">Password</label>
            <input type="password" id="pass" class="form-control" formControlName="password">
            <div *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched">
                <span *ngIf="userForm.get('password')?.errors?.['required']" class="alert alert-danger alert-box">
                    Password is required
                </span>
                <span *ngIf="userForm.get('password')?.errors?.['noSpaceAllowed']" class="alert alert-danger alert-box">
                    Spaces are not allowed
                </span>
            </div>
        </div>
        <div class="flex-row register-submits-wrapper">
            <div class="link-wrapper">
                <a routerLink="/login">Login</a>
            </div>
            <button class="btn btn-primary" type="submit">Sign Up</button>
        </div>
        <span *ngIf="errorAlert" class="alert alert-danger alert-error">
            {{this.errorAlert}}
        </span>
    </form>
</div>